__pycache__
assets/
diag.txt
control/
deployment/registry-images/*
app/0-node/ips.txt
app/def-node/
deployment/def-node-entrypoint.sh
deployment/Dockerfile-def-node
deployment/scripts/helm-install-nginx-ingress.sh
deployment/env
deployment/.pytest_cache
deployment/.env
deployment/venv/
deployment/src/